@import "../../../styles/variables.scss";

.dropDownMenu {
  padding-left: 20px;
  label {
    font-weight: bold;
    padding-right: 5px;
  }
  select {
    justify-content: center;
  }
  #dropdown {
    background-color: $dark-bg;
    color: white;
    border-radius: 5px;
  }
}

.grid {
  padding: 20px;
}
.sBox {
  border: 3px solid $soft-bg;
  border-radius: 5px;
  padding: 10px;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(126, 189, 240, 0.3); /* Add a shadow on hover */
  }
}
