.navigation-ribbon {
  display: flex;
  justify-content: space-between;
  background-color: #1a202c;
  color: white;
  padding: 10px;
  gap: 10px;

  &.column {
    flex-direction: column;
  }
  .nav-box {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    &:hover {
      box-shadow: 0 0 10px rgba(126, 189, 240, 0.3);
    }
  }
}

.active {
  font-size: 110%;
  font-weight: 900;
}
